.main {
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.form {
  width: 400px;
  user-select: none;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 5px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  &__content-wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    &:last-child {
      margin: 0;
    }
    &__header {
      text-align: center;
      font-size: 1.4em;
    }
    &__input {
      font-size: 0.95em;
      padding-top: 0.35em;
      padding-bottom: 0.35em;
      outline: none;
      border: none;
      border-bottom: 2px solid #3182ce;
      background: none;
      color: #fff;
      &::placeholder {
        color: #777777;
      }
      &:focus::placeholder {
        color: transparent;
      }
      &:focus {
        background: rgba(0, 0, 0, 0.85);
      }
    }
    &__button {
      padding: 1em;
      cursor: pointer;
      background: #3182ce;
      border-radius: 5px;
      color: #fff;
      font-size: 1em;
    }
    &__link-wrapper {
      font-size: 0.9em;
      color: rgb(195, 195, 195);
      &__link {
        margin-left: 0.5em;
        color: #3182ce;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__error-message {
      font-size: 0.8em;
      color: #b73e3e;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
